{% extends 'base.html' %}
{% block content %}

<h1> SHOWING ALL ITEMS</h1>
<div class='container-card'>
{% for item in item_list %}
<div class="card" style="width: 17rem;">
    <a href="{% url 'items_detail' item.id %}"><img src='{{item.image.url}}' class="card-img-top"></a>
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
    </div>
    <ul class="list-group list-group-flush">

      <li class="list-group-item"> {{ item.description }}</li>

    </ul>

  </div>
  {% endfor %}
</div>


{% endblock %}