body {
  background-color: rgb(233, 232, 232);
  font-family: "Raleway", sans-serif;
}
#text {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-left: 10vw;
  font-size: 1.2rem;
}

#text:hover {
  color: rgb(148, 148, 148);
}

#nav-text {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
}

h1 {
  text-align: center;
  margin: 10px;
  padding-top: 15px;
  letter-spacing: 0.2rem;
  font-weight: 700;
  font-size: 2.5rem;
}

h3 {
  text-align: center;
  margin: 15px;
  letter-spacing: 0.1rem;
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  margin: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-title {
  letter-spacing: 0.4rem;
  font-weight: 700;
  font-size: 2em;
  display: inline-block;
}

#bolder {
  font-weight: 600;
}

.container-card {
  margin-top: 1rem;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  background-color: rgb(40, 123, 161);
  border: 4px solid rgb(48, 50, 51);
  transition: transform 0.4s;
}

img:hover {
  background-color: rgb(47, 143, 187);
  transform: scale(1.05);
}

.poke-type {
  border: 1px solid transparent;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15%;
  color: white;
  font-weight: 600;
  text-shadow: 2px 2px 2px #1f1f1fa9;
}
.poke-type-water {
  background-color: blue;
}

.poke-type-bug {
  background-color: rgb(145, 137, 24);
}

.poke-type-grass {
  background-color: rgb(29, 158, 78);
}

.poke-type-fire {
  background-color: rgb(197, 32, 32);
}

.poke-type-flying {
  background-color: rgb(86, 184, 241);
}

.poke-type-electric {
  background-color: rgb(238, 228, 95);
}

.poke-type-poison {
  background-color: rgb(153, 23, 153);
}

th {
  font-size: larger;
}

table {
  font-size: 1.1rem;
  border: 3px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.btn {
  margin: 8px;
  background-color: rgb(47, 143, 187);
  border: 1px solid rgb(47, 143, 187);
}

label {
  font-size: larger;
}

tbody {
  border: 1px solid transparent;
}
