body {
  background-color: rgb(233, 232, 232);
}

h1 {
  text-align: center;
  margin: 15px;
  letter-spacing: 0.2rem;
  font-weight: 700;
  font-size: 2.5rem;
}
.card {
  margin-bottom: 10px;
  text-align: center;
  border: solid 0.2rem black;
}

.card-title {
  letter-spacing: 0.4rem;
  font-weight: 700;
  font-size: 1.5rem;
}

#bolder {
  font-weight: 600;
}

.navbar {
  border-bottom: 0.1rem solid black;
}
